<% provide(:title, 'New request') %>
<h1>New request</h1>

<%= form_for(@request) do |f| %>
	  
  <%= render 'form', :f => f %> </br>
    
  <span id="request-controls">
    <%= button_to "Create request", request_path(request), class:  "btn btn-med", :method => "post" %><%= button_to "Cancel", requests_path, class: "btn btn-med" %></span>

  
<% end %>





