@import "bootstrap";

$grayMediumLight: #eaeaea;

html {
  overflow-y: scroll;
}

body {
  a {
    color: $gray;
    &:hover {
      color: $grayLight;
      background-color: white;
    }
  }  
}

body.backdrop {
  padding-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
/* image credit: subtlepatterns.com */
  background-image: url(../assets/pw_maze_white_@2X.png);
}

header {
height: 75px;
margin-top:-55px;
margin-bottom: 0px;
padding-bottom: 0px;
float: left;
}

hgroup {
margin-top:-95px;
margin-left: 90px;
}

hgroup h1 {
color: #663366;
text-shadow: 0.1em 0.1em 0.05em grey
}

#logo {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#gravatar {
  padding-top: 10px;
}

#profile {
  padding-left: 10px;
  margin-left: 100px;
}

#nav_top_right {
  margin-top: -45px;
  margin-left: 87%;
}

#tabbed_area {
padding-top: 0px;
clear: both;
padding-bottom: 0px;
margin-bottom: 0px;
border-radius: 10px;
}

section {
  overflow: auto;
}

.nav-tabs {
  background-color: #990099;
  -webkit-border-radius: 10px;
  -moz-border-radiues: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-tabs li a {
  color: white;
}

.nav-tabs li a:hover {
  font-weight: bold;
  background-color: gray;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  background-color: $white;
  padding-top: 0px;
  top-margin: 0%;
  width: 85%;
  -moz-box-shadow: 0px 5px 5px 5px #888;
  -webkit-box-shadow: 0px 5px 5px 5px#888;
  box-shadow: 0px 5px 5px 5px #888;
}

.container h1 {
  font-size: 2.25em;
  color: #990099;
  text-decoration: underline;
}

.textarea {
  resize: vertical;
  border-left: black;
  padding-left: 20px;
  padding-right: 20px;
}

.textarea p {
  font-size: 1.1em;
  line-height: 105%;
}

.textarea em {
  font-weight:bold;
  font-style: normal;
}

.active {
  background-color: #990099;
  font-weight: bold;
}


h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

btn btn-med disabled> a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none; 
}

/* Below is modification of http://css-tricks.com/examples/hrs/ */
hr {
 width: 30%;
 border: 0; 
 border-bottom: 4px dashed #990099; 
 background: #999; 
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayDarker;
  a {
    color: $gray;
    &:hover {
      color: $grayLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
