// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reqstats1-2 {
  padding-left: 10px;
}

#reqstats1-3 {
  padding-left: 25px;
}

#reqstats1-4 {
  padding-left: 45px;
}

#reqstats1-5 {
  padding-left: 65px;
}

#reqstats2-2 {
  padding-left: 40px;
}

#reqstats2-3 {
  padding-left: 45px;
}

#reqstats2-4 {
  padding-left: 45px;
}

#skillstats1-3 {
  padding-left: 15px;
}

#skillstats1-4 {
  padding-left: 15px;
}

#skillstats1-5 {
  padding-left: 15px;
}

#skillstats1-6 {
  padding-left: 15px;
}

#skillstats1-7 {
  padding-left: 15px;
}

#skillstats2-3 {
  padding-left: 15px;
}

#skillstats2-4 {
  padding-left: 15px;
}

#skillstats2-5 {
  padding-left: 15px;
}

#skillstats2-6 {
  padding-left: 15px;
}

#skillstats2-7 {
  padding-left: 15px;
}

#empstats1-3 {
  padding-left: 15px;
}

#empstats1-4 {
  padding-left: 15px;
}

#empstats1-5 {
  padding-left: 15px;
}

#empstats1-6 {
  padding-left: 15px;
}

#empstats1-7 {
  padding-left: 15px;
}

#empstats2-3 {
  padding-right: 2px;
}

#empstats2-4 {
  padding-right: 2px;
}

#empstats2-5 {
  padding-right: 2px;
}

#empstats2-6 {
  padding-right: 2px;
}

#empstats2-7 {
  padding-right: 2px;
}

#empstats2-8 {
  padding-right: 2px;
}

#empstats2-9 {
  padding-right: 5px;
}





